body {
    margin: 0;
}
/* a-inline element */
a {
    color: white;
    text-decoration: none; /* a링크밑줄 제거 */
} 
/* h1-block level element */
h1 {
    position: fixed;
    width: 100%;
    background-color: #005896;
    font-size: 45px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px;
}

#grid ol{
    background-color: #009cdf;
    color: #FFFF;
    border-right: 1px solid gray;
    margin: 0;
    width: 50px;
    padding: 30px 50px;
}

#grid{
    padding-top: 94px;
    display: grid;
    grid-template-columns: 150px 1fr;
}

#article{
    padding-left: 20px;
}

#copyright{
    position: absolute;
    right: 50px;
    bottom: 25px;
}

@media(max-width:800px){
    #grid{
        display: block;
    }
    #grid ol{
        border-right: none;
    }
    h1{
        border-bottom: none;
    }
}