{% extends "blog/layout.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block extra_head %}
<style>
  .post_photo {
    max_width: 100%;
  }
  .post-map {
     width: 300px;
     height: 300px;
   }
</style>

<script>
$(function() {
  var myLatLng = {lat: -25.363, lng: 131.044};
  var container = $('.post-map')[0];
  var map = new google.maps.Map(container, {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
});
</script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  {% if post.photo %}
    <img src="{{ post.photo.url }}" class="post_photo" />
  {% endif %}
  <hr/>
  <div class="post-map">
  </div>

  {{ post.content|linebreaks }}
{% endblock %}
